html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.block {
  display: block;
}

.nowrap {
  overflow: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.bold, strong {
  font-weight: bold;
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.italic, em {
  font-style: italic;
}

.lh1 {
  line-height: 1 !important;
}

.muted {
  color: #999999;
}

.small {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 18px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-centered {
  text-align: center;
}

.underlined {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
img.native-width {
  width: auto;
}

.show-on-mobile,
.show-on-mobile-tablet,
.show-on-tablet,
.show-on-tablet-desktop,
.show-on-desktop {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .show-on-mobile {
    display: inherit !important;
  }

  .hide-on-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 980px) {
  .show-on-mobile-tablet {
    display: inherit !important;
  }

  .hide-on-mobile-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .show-on-tablet {
    display: inherit !important;
  }

  .hide-on-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .show-on-tablet-desktop {
    display: inherit !important;
  }

  .hide-on-tablet-desktop {
    display: none !important;
  }
}
@media screen and (min-width: 981px) {
  .show-on-desktop {
    display: inherit !important;
  }

  .hide-on-desktop {
    display: none !important;
  }
}
.ml0 {
  margin-left: 0px !important;
}

.mr0 {
  margin-right: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.ml1 {
  margin-left: 3.5px !important;
}

.mr1 {
  margin-right: 3.5px !important;
}

.mt1 {
  margin-top: 3.5px !important;
}

.mb1 {
  margin-bottom: 3.5px !important;
}

.ml2 {
  margin-left: 7px !important;
}

.mr2 {
  margin-right: 7px !important;
}

.mt2 {
  margin-top: 7px !important;
}

.mb2 {
  margin-bottom: 7px !important;
}

.ml3 {
  margin-left: 10.5px !important;
}

.mr3 {
  margin-right: 10.5px !important;
}

.mt3 {
  margin-top: 10.5px !important;
}

.mb3 {
  margin-bottom: 10.5px !important;
}

.ml4 {
  margin-left: 14px !important;
}

.mr4 {
  margin-right: 14px !important;
}

.mt4 {
  margin-top: 14px !important;
}

.mb4 {
  margin-bottom: 14px !important;
}

.ml5 {
  margin-left: 17.5px !important;
}

.mr5 {
  margin-right: 17.5px !important;
}

.mt5 {
  margin-top: 17.5px !important;
}

.mb5 {
  margin-bottom: 17.5px !important;
}

.ml6 {
  margin-left: 21px !important;
}

.mr6 {
  margin-right: 21px !important;
}

.mt6 {
  margin-top: 21px !important;
}

.mb6 {
  margin-bottom: 21px !important;
}

.ml7 {
  margin-left: 24.5px !important;
}

.mr7 {
  margin-right: 24.5px !important;
}

.mt7 {
  margin-top: 24.5px !important;
}

.mb7 {
  margin-bottom: 24.5px !important;
}

.ml8 {
  margin-left: 28px !important;
}

.mr8 {
  margin-right: 28px !important;
}

.mt8 {
  margin-top: 28px !important;
}

.mb8 {
  margin-bottom: 28px !important;
}

.ml9 {
  margin-left: 31.5px !important;
}

.mr9 {
  margin-right: 31.5px !important;
}

.mt9 {
  margin-top: 31.5px !important;
}

.mb9 {
  margin-bottom: 31.5px !important;
}

.ml10 {
  margin-left: 35px !important;
}

.mr10 {
  margin-right: 35px !important;
}

.mt10 {
  margin-top: 35px !important;
}

.mb10 {
  margin-bottom: 35px !important;
}

.pl0 {
  padding-left: 0px !important;
}

.pr0 {
  padding-right: 0px !important;
}

.pt0 {
  padding-top: 0px !important;
}

.pb0 {
  padding-bottom: 0px !important;
}

.pl1 {
  padding-left: 3.5px !important;
}

.pr1 {
  padding-right: 3.5px !important;
}

.pt1 {
  padding-top: 3.5px !important;
}

.pb1 {
  padding-bottom: 3.5px !important;
}

.pl2 {
  padding-left: 7px !important;
}

.pr2 {
  padding-right: 7px !important;
}

.pt2 {
  padding-top: 7px !important;
}

.pb2 {
  padding-bottom: 7px !important;
}

.pl3 {
  padding-left: 10.5px !important;
}

.pr3 {
  padding-right: 10.5px !important;
}

.pt3 {
  padding-top: 10.5px !important;
}

.pb3 {
  padding-bottom: 10.5px !important;
}

.pl4 {
  padding-left: 14px !important;
}

.pr4 {
  padding-right: 14px !important;
}

.pt4 {
  padding-top: 14px !important;
}

.pb4 {
  padding-bottom: 14px !important;
}

.pl5 {
  padding-left: 17.5px !important;
}

.pr5 {
  padding-right: 17.5px !important;
}

.pt5 {
  padding-top: 17.5px !important;
}

.pb5 {
  padding-bottom: 17.5px !important;
}

.pl6 {
  padding-left: 21px !important;
}

.pr6 {
  padding-right: 21px !important;
}

.pt6 {
  padding-top: 21px !important;
}

.pb6 {
  padding-bottom: 21px !important;
}

.pl7 {
  padding-left: 24.5px !important;
}

.pr7 {
  padding-right: 24.5px !important;
}

.pt7 {
  padding-top: 24.5px !important;
}

.pb7 {
  padding-bottom: 24.5px !important;
}

.pl8 {
  padding-left: 28px !important;
}

.pr8 {
  padding-right: 28px !important;
}

.pt8 {
  padding-top: 28px !important;
}

.pb8 {
  padding-bottom: 28px !important;
}

.pl9 {
  padding-left: 31.5px !important;
}

.pr9 {
  padding-right: 31.5px !important;
}

.pt9 {
  padding-top: 31.5px !important;
}

.pb9 {
  padding-bottom: 31.5px !important;
}

.pl10 {
  padding-left: 35px !important;
}

.pr10 {
  padding-right: 35px !important;
}

.pt10 {
  padding-top: 35px !important;
}

.pb10 {
  padding-bottom: 35px !important;
}

.bl {
  border-left: 1px solid rgba(0, 0, 0, 0.13);
}

.br {
  border-right: 1px solid rgba(0, 0, 0, 0.13);
}

.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}

.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.sticky-footer #footer-pusher {
  height: auto;
  min-height: 100%;
}
.sticky-footer #page-footer {
  position: relative;
}

@media screen and (max-width: 980px) {
  .max-50 {
    max-width: 50%;
  }

  .max-40 {
    max-width: 40%;
  }

  .max-30 {
    max-width: 30%;
  }

  .max-20 {
    max-width: 20%;
  }

  .max-10 {
    max-width: 10%;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  zoom: 1;
  width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: table;
}
.container:after {
  clear: both;
}

.responsive .container {
  width: auto;
  max-width: 980px;
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .responsive .container {
    margin: 0;
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .responsive .container {
    margin: 0;
    padding: 0 15px;
  }
}

.row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

@media screen and (max-width: 767px) {
  .responsive .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.field-row {
  zoom: 1;
  margin-left: -10px;
  margin-right: -10px;
}
.field-row:before, .field-row:after {
  content: "";
  display: table;
}
.field-row:after {
  clear: both;
}
.field-row [class*="span"] {
  padding: 0 10px;
}

@media screen and (max-width: 767px) {
  .responsive .field-row {
    margin-left: 0;
    margin-right: 0;
  }
  .responsive .field-row [class*="span"] {
    padding-left: 0;
    padding-right: 0;
  }
}
[class*="span"] {
  float: left;
  min-height: 1px;
  padding: 0 10px;
}
[class*="span"]:last-child {
  float: right;
}

@media screen and (max-width: 767px) {
  .responsive [class*="span"] {
    float: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.span1 {
  width: 8.33333%;
}

.span2 {
  width: 16.66667%;
}

.span3 {
  width: 25%;
}

.span4 {
  width: 33.33333%;
}

.span5 {
  width: 41.66667%;
}

.span6 {
  width: 50%;
}

.span7 {
  width: 58.33333%;
}

.span8 {
  width: 66.66667%;
}

.span9 {
  width: 75%;
}

.span10 {
  width: 83.33333%;
}

.span11 {
  width: 91.66667%;
}

.span12 {
  width: 100%;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #444444;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-size-adjust: none;
  line-height: 21px;
}

p,
ol,
ul,
dl,
table,
figure,
hgroup {
  margin: 0 0 14px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #222222;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-rendering: optimizelegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #222222;
}

h1, h2 {
  margin: 0 0 21px;
}

h1 {
  font-size: 36px;
  letter-spacing: -1px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}

h4, h5, h6 {
  font-size: 14px;
}

a {
  color: #006699;
  text-decoration: none;
}
a:hover {
  color: #0088cc;
  text-decoration: underline;
}

p a {
  text-decoration: underline;
}

ul, ol {
  padding: 0;
  margin-left: 14px;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul ul,
ol ul {
  list-style: circle;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

dl {
  margin: 0 0 14px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 14px;
}

table {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.13);
}
table th {
  font-weight: bold;
}
table th, table td {
  padding: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  text-align: left;
}
table th:first-child, table td:first-child {
  padding-left: 0;
}
table th:last-child, table td:last-child {
  padding-right: 0;
}
table .figure {
  text-align: right;
}

code {
  font-family: "Consolas", "Courier", monospace;
}

@font-face {
  font-family: 'Entypo';
  src: url("../webfonts/entypo.eot");
  src: url("../../webfonts/entypo.woff") format("woff"), url("../../webfonts/entypo.ttf") format("truetype"), url("../../webfonts/entypo.svg") format("svg");
  font-weight: 400;
}

label,
input,
textarea {
  color: #444444;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

.field-group {
  margin-bottom: 14px;
}
.field-group .field-label {
  display: block;
  color: #222222;
}
.field-group .field-instructions {
  float: none;
  clear: both;
  padding-top: 3px;
  color: #999999;
  font-size: 12px;
  line-height: 1.5;
}
.field-group .field-instructions a {
  color: #999999;
  text-decoration: underline;
}
@media screen and (min-width: 981px) {
  .field-group .fields {
    position: relative;
  }
  .field-group .fields .error-message {
    position: absolute;
    left: 100%;
    top: 2px;
    margin-top: 0;
    margin-left: 12px;
    white-space: nowrap;
  }
  .field-group .fields .error-message:after {
    position: absolute;
    top: 6px;
    left: -12px;
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 6px;
    border-color: transparent #a01d2b transparent transparent;
  }
}

.input-inline {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

.multi-field {
  zoom: 1;
}
.multi-field:before, .multi-field:after {
  content: "";
  display: table;
}
.multi-field:after {
  clear: both;
}
.multi-field input, .multi-field .input-inline {
  float: left;
  margin-right: 5px;
}

@media screen and (min-width: 767px) {
  .labels-left .field-group {
    zoom: 1;
  }
  .labels-left .field-group:before, .labels-left .field-group:after {
    content: "";
    display: table;
  }
  .labels-left .field-group:after {
    clear: both;
  }
  .labels-left .field-label {
    position: relative;
    left: 10px;
    padding: 7px 0;
    line-height: 16px;
    text-align: right;
  }
}
textarea,
.select-mask,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.06);
  display: inline-block;
  height: 30px;
  width: 100%;
  max-width: 100%;
  padding: 0 7px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-appearance: none;
}
textarea:focus, textarea.focus,
.select-mask:focus,
.select-mask.focus,
input[type="text"]:focus,
input[type="text"].focus,
input[type="password"]:focus,
input[type="password"].focus,
input[type="datetime"]:focus,
input[type="datetime"].focus,
input[type="datetime-local"]:focus,
input[type="datetime-local"].focus,
input[type="date"]:focus,
input[type="date"].focus,
input[type="month"]:focus,
input[type="month"].focus,
input[type="time"]:focus,
input[type="time"].focus,
input[type="week"]:focus,
input[type="week"].focus,
input[type="number"]:focus,
input[type="number"].focus,
input[type="email"]:focus,
input[type="email"].focus,
input[type="url"]:focus,
input[type="url"].focus,
input[type="search"]:focus,
input[type="search"].focus,
input[type="tel"]:focus,
input[type="tel"].focus,
input[type="color"]:focus,
input[type="color"].focus {
  border-color: #006699;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 102, 153, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 102, 153, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 102, 153, 0.3);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

textarea {
  height: auto;
  min-width: 100%;
  min-height: 30px;
  padding: 7px;
}

input.char1 {
  width: 24.5px !important;
}

input.char2 {
  width: 35px !important;
}

input.char3 {
  width: 45.5px !important;
}

input.char4 {
  width: 56px !important;
}

input.char5 {
  width: 66.5px !important;
}

input.char6 {
  width: 77px !important;
}

input.char7 {
  width: 87.5px !important;
}

input.char8 {
  width: 98px !important;
}

input.char9 {
  width: 108.5px !important;
}

input.char10 {
  width: 119px !important;
}

input.char11 {
  width: 129.5px !important;
}

input.char12 {
  width: 140px !important;
}

input.char13 {
  width: 150.5px !important;
}

input.char14 {
  width: 161px !important;
}

input.char15 {
  width: 171.5px !important;
}

input.char16 {
  width: 182px !important;
}

.select-holder {
  height: 30px;
  position: relative;
}

select {
  opacity: 0;
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30px;
  font-size: 14px;
  padding: 0 7px;
  -webkit-appearance: none;
}
select option {
  font-size: 11px;
}

.select-mask {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background: #fff;
  padding-top: 7px;
  line-height: 1;
}
.select-mask:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #222222 transparent transparent transparent;
  position: absolute;
  top: 12px;
  right: 10px;
}

::-webkit-input-placeholder {
  color: #999999;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

:-moz-placeholder {
  color: #999999;
  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

::-webkit-input-placeholder:focus {
  color: #bfbfbf;
}

:-moz-placeholder:focus {
  color: #bfbfbf;
}

input[type=radio],
input[type=checkbox] {
  margin: 0;
  cursor: pointer;
}

.radio-checkbox-list {
  margin-left: 0px;
}
.radio-checkbox-list > li {
  display: block;
  list-style-type: none;
}
.radio-checkbox-list > li {
  padding: 3.5px 0;
}
.radio-checkbox-list input[type=radio],
.radio-checkbox-list input[type=checkbox] {
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
}
.radio-checkbox-list .radio-checkbox-label {
  display: block;
  position: relative;
  padding-left: 20.93px;
  cursor: pointer;
}
.radio-checkbox-list .radio-checkbox-label.small input[type=radio],
.radio-checkbox-list .radio-checkbox-label.small input[type=checkbox] {
  top: 2.5px;
}
.radio-checkbox-list .error-message {
  margin-left: 20.93px;
}

.single-checkbox {
  display: block;
  position: relative;
  padding: 3.3px 0 3.3px 20.93px;
  font-size: 12px;
  line-height: 1.2;
  cursor: pointer;
}
.single-checkbox input[type=radio],
.single-checkbox input[type=checkbox] {
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
}
.single-checkbox a {
  text-decoration: underline;
}

button {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.error label {
  color: #a01d2b;
}
.error input {
  border-color: #a01d2b;
}

.error-message {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  margin-top: 7px;
  padding: 7px;
  background: #a01d2b;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}
.error-message:after {
  position: absolute;
  top: -12px;
  left: 10px;
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 6px;
  border-color: transparent transparent #a01d2b transparent;
}

.button {
  zoom: 1;
  -webkit-background-origin: border;
  -moz-background-origin: border;
  -ms-background-origin: border-box;
  -o-background-origin: border-box;
  background-origin: border-box;
  -webkit-background-clip: border;
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  padding: 9px 12px;
  font-size: 12px;
  border-color: rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #fbfbfb), color-stop(1px, #ffffff), color-stop(2px, #ffffff), color-stop(2px, #fbfbfb), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(top, #fbfbfb 1px, #ffffff 1px, #ffffff 2px, #fbfbfb 2px, #ececec 100%);
  background-image: -moz-linear-gradient(top, #fbfbfb 1px, #ffffff 1px, #ffffff 2px, #fbfbfb 2px, #ececec 100%);
  background-image: -o-linear-gradient(top, #fbfbfb 1px, #ffffff 1px, #ffffff 2px, #fbfbfb 2px, #ececec 100%);
  background-image: linear-gradient(top, #fbfbfb 1px, #ffffff 1px, #ffffff 2px, #fbfbfb 2px, #ececec 100%);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
  text-shadow: 0px 1px 0px white;
  display: inline-block;
  margin: 0 3.5px 0 0;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  color: #444444;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.button:before, .button:after {
  content: "";
  display: table;
}
.button:after {
  clear: both;
}
.button:last-child {
  margin-right: 0;
}
.button .icon {
  position: relative;
  vertical-align: top;
  top: -2px;
}
.button.has-icon-divider {
  position: relative;
}
.button.has-icon-divider .icon.icon-prepend {
  margin-right: 21.6px;
}
.button.has-icon-divider:before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  left: 38px;
  top: 0px;
}
.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #ffffff), color-stop(1px, #ffffff), color-stop(100%, #f3f3f3));
  background-image: -webkit-linear-gradient(top, #ffffff 0px, #ffffff 1px, #f3f3f3 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0px, #ffffff 1px, #f3f3f3 100%);
  background-image: -o-linear-gradient(top, #ffffff 0px, #ffffff 1px, #f3f3f3 100%);
  background-image: linear-gradient(top, #ffffff 0px, #ffffff 1px, #f3f3f3 100%);
  color: #444444;
  text-decoration: none;
}
.button:active, .button.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #ececec), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(top, #ececec 0px, #fbfbfb 100%);
  background-image: -moz-linear-gradient(top, #ececec 0px, #fbfbfb 100%);
  background-image: -o-linear-gradient(top, #ececec 0px, #fbfbfb 100%);
  background-image: linear-gradient(top, #ececec 0px, #fbfbfb 100%);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.button:focus {
  outline: none;
}
.button.button-large {
  height: 40px;
  padding: 11px 20px;
  font-size: 16px;
}
.button.button-large .icon {
  top: 0px;
}
.button.button-large.has-icon-divider .icon.icon-prepend {
  margin-right: 40px;
}
.button.button-large.has-icon-divider:before {
  left: 54px;
}
.button.button-small {
  height: 24px;
  padding: 5.5px 11px;
  font-size: 11px;
}
.button.button-small .icon {
  top: -2.5px;
}
.button.button-small.has-icon-divider .icon.icon-prepend {
  margin-right: 22px;
}
.button.button-small.has-icon-divider:before {
  left: 36px;
}
.button.button-pill {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.button.button-facebook {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #4264aa), color-stop(1px, #4c70ba), color-stop(2px, #4c70ba), color-stop(2px, #4264aa), color-stop(100%, #344e86));
  background-image: -webkit-linear-gradient(top, #4264aa 1px, #4c70ba 1px, #4c70ba 2px, #4264aa 2px, #344e86 100%);
  background-image: -moz-linear-gradient(top, #4264aa 1px, #4c70ba 1px, #4c70ba 2px, #4264aa 2px, #344e86 100%);
  background-image: -o-linear-gradient(top, #4264aa 1px, #4c70ba 1px, #4c70ba 2px, #4264aa 2px, #344e86 100%);
  background-image: linear-gradient(top, #4264aa 1px, #4c70ba 1px, #4c70ba 2px, #4264aa 2px, #344e86 100%);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  color: white;
}
.button.button-facebook:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #4c70ba), color-stop(1px, #5f7ec1), color-stop(2px, #5f7ec1), color-stop(2px, #5f7ec1), color-stop(100%, #3b5998));
  background-image: -webkit-linear-gradient(top, #4c70ba 1px, #5f7ec1 1px, #5f7ec1 2px, #5f7ec1 2px, #3b5998 100%);
  background-image: -moz-linear-gradient(top, #4c70ba 1px, #5f7ec1 1px, #5f7ec1 2px, #5f7ec1 2px, #3b5998 100%);
  background-image: -o-linear-gradient(top, #4c70ba 1px, #5f7ec1 1px, #5f7ec1 2px, #5f7ec1 2px, #3b5998 100%);
  background-image: linear-gradient(top, #4c70ba 1px, #5f7ec1 1px, #5f7ec1 2px, #5f7ec1 2px, #3b5998 100%);
}
.button.button-facebook:active, .button.button-facebook.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #344e86), color-stop(100%, #3b5998));
  background-image: -webkit-linear-gradient(top, #344e86 0%, #3b5998 100%);
  background-image: -moz-linear-gradient(top, #344e86 0%, #3b5998 100%);
  background-image: -o-linear-gradient(top, #344e86 0%, #3b5998 100%);
  background-image: linear-gradient(top, #344e86 0%, #3b5998 100%);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.button.button-twitter {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #00aced), color-stop(1px, #07bbff), color-stop(2px, #07bbff), color-stop(2px, #00aced), color-stop(100%, #0087ba));
  background-image: -webkit-linear-gradient(top, #00aced 1px, #07bbff 1px, #07bbff 2px, #00aced 2px, #0087ba 100%);
  background-image: -moz-linear-gradient(top, #00aced 1px, #07bbff 1px, #07bbff 2px, #00aced 2px, #0087ba 100%);
  background-image: -o-linear-gradient(top, #00aced 1px, #07bbff 1px, #07bbff 2px, #00aced 2px, #0087ba 100%);
  background-image: linear-gradient(top, #00aced 1px, #07bbff 1px, #07bbff 2px, #00aced 2px, #0087ba 100%);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  color: white;
}
.button.button-twitter:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #07bbff), color-stop(1px, #21c2ff), color-stop(2px, #21c2ff), color-stop(2px, #21c2ff), color-stop(100%, #0099d3));
  background-image: -webkit-linear-gradient(top, #07bbff 1px, #21c2ff 1px, #21c2ff 2px, #21c2ff 2px, #0099d3 100%);
  background-image: -moz-linear-gradient(top, #07bbff 1px, #21c2ff 1px, #21c2ff 2px, #21c2ff 2px, #0099d3 100%);
  background-image: -o-linear-gradient(top, #07bbff 1px, #21c2ff 1px, #21c2ff 2px, #21c2ff 2px, #0099d3 100%);
  background-image: linear-gradient(top, #07bbff 1px, #21c2ff 1px, #21c2ff 2px, #21c2ff 2px, #0099d3 100%);
}
.button.button-twitter:active, .button.button-twitter.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0087ba), color-stop(100%, #0099d3));
  background-image: -webkit-linear-gradient(top, #0087ba 0%, #0099d3 100%);
  background-image: -moz-linear-gradient(top, #0087ba 0%, #0099d3 100%);
  background-image: -o-linear-gradient(top, #0087ba 0%, #0099d3 100%);
  background-image: linear-gradient(top, #0087ba 0%, #0099d3 100%);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}
.button.button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.has-dropdown.button-dropdown {
  display: inline-block;
  margin-right: 3.5px;
}
.has-dropdown.button-dropdown .button {
  margin-right: 0;
  padding-right: 26px;
}
.has-dropdown.button-dropdown .button .caret {
  display: block;
  position: absolute;
  top: 0;
  right: 12px;
  width: 10px;
  height: 32px;
}
.has-dropdown.button-dropdown .button .caret:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #444444 transparent transparent transparent;
  position: absolute;
  top: 13.5px;
  left: 0;
}
.has-dropdown.button-dropdown .dropdown {
  left: 0;
  margin-top: -1px;
  -webkit-border-radius: 0 4px 4px 4px;
  -moz-border-radius: 0 4px 4px 4px;
  -ms-border-radius: 0 4px 4px 4px;
  -o-border-radius: 0 4px 4px 4px;
  border-radius: 0 4px 4px 4px;
}
.has-dropdown.button-dropdown .dropdown.right {
  left: auto;
  right: 0;
  -webkit-border-radius: 4px 0 4px 4px;
  -moz-border-radius: 4px 0 4px 4px;
  -ms-border-radius: 4px 0 4px 4px;
  -o-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
}
.has-dropdown.button-dropdown .dropdown > li > a {
  padding-left: 12px;
  padding-right: 12px;
}
.has-dropdown.button-dropdown.open > .button {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: white;
  color: #444444;
  text-shadow: none;
}

.button-group {
  zoom: 1;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3.5px 0 0;
}
.button-group:before, .button-group:after {
  content: "";
  display: table;
}
.button-group:after {
  clear: both;
}
.button-group > * {
  float: left;
}
.button-group .button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-right: 0;
  border-right: none;
}
.button-group > .button:first-child {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.button-group > .button:last-child {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
}
.button-group .has-dropdown.button-dropdown {
  margin-right: 0;
}
.button-group .has-dropdown.button-dropdown .dropdown {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.button-group .has-dropdown.button-dropdown:first-child .button {
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  -ms-border-radius: 4px 0 0 4px;
  -o-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.button-group .has-dropdown.button-dropdown:last-child .button {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  border-color: rgba(0, 0, 0, 0.2);
  border-right-style: solid;
  border-right-width: 1px;
}
.button-group .has-dropdown.button-dropdown.open .button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.button-group .has-dropdown.button-dropdown.open:first-child .button {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  -ms-border-radius: 4px 0 0 0;
  -o-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
.button-group .has-dropdown.button-dropdown.open:last-child .button {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  -ms-border-radius: 0 4px 0 0;
  -o-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}

.icon {
  font-family: "Entypo";
  display: inline-block;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
.icon.icon-prepend {
  margin-right: 0.8em;
}

.top-bar {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #2a2a2a), color-stop(100%, #1a1a1a));
  background-image: -webkit-linear-gradient(top, #2a2a2a 0px, #1a1a1a 100%);
  background-image: -moz-linear-gradient(top, #2a2a2a 0px, #1a1a1a 100%);
  background-image: -o-linear-gradient(top, #2a2a2a 0px, #1a1a1a 100%);
  background-image: linear-gradient(top, #2a2a2a 0px, #1a1a1a 100%);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.top-bar #nav-branding a {
  display: block;
  height: 50px;
  padding: 16px 0;
  padding-right: 14px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
}
.top-bar #nav-branding a:hover {
  text-decoration: none;
}
.top-bar .top-bar-links {
  margin-left: 0px;
  zoom: 1;
  margin: 0;
}
.top-bar .top-bar-links > li {
  display: block;
  list-style-type: none;
}
.top-bar .top-bar-links:before, .top-bar .top-bar-links:after {
  content: "";
  display: table;
}
.top-bar .top-bar-links:after {
  clear: both;
}
.top-bar .top-bar-links > li {
  display: block;
  float: left;
  list-style-type: none;
}
.top-bar .top-bar-links > li > a {
  display: block;
  height: 50px;
  padding: 18px 14px;
  color: white;
  font-size: 14px;
  line-height: 1;
}
.top-bar .top-bar-links > li > a:hover {
  background-color: #090909;
  text-decoration: none;
}
.top-bar .top-bar-links > li > a:focus {
  outline: none;
}
.top-bar .top-bar-links > li.active a {
  background-color: #090909;
}
.top-bar .top-bar-links > li.has-dropdown > a {
  padding-right: 31px;
}
.top-bar .top-bar-links > li.has-dropdown > a .caret {
  display: block;
  position: absolute;
  top: 0;
  right: 14px;
  width: 10px;
  height: 50px;
}
.top-bar .top-bar-links > li.has-dropdown > a .caret:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: white transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
}
.top-bar .top-bar-links > li.has-dropdown .dropdown {
  border-top: 0;
}
.top-bar .top-bar-links > li.has-dropdown.open > a .caret:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: #444444 transparent transparent transparent;
}
.top-bar .button {
  margin-top: 9px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #3c3c3c), color-stop(1px, #484848), color-stop(2px, #484848), color-stop(2px, #3c3c3c), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(top, #3c3c3c 1px, #484848 1px, #484848 2px, #3c3c3c 2px, #222222 100%);
  background-image: -moz-linear-gradient(top, #3c3c3c 1px, #484848 1px, #484848 2px, #3c3c3c 2px, #222222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 1px, #484848 1px, #484848 2px, #3c3c3c 2px, #222222 100%);
  background-image: linear-gradient(top, #3c3c3c 1px, #484848 1px, #484848 2px, #3c3c3c 2px, #222222 100%);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  color: white;
}
.top-bar .button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1px, #484848), color-stop(1px, #555555), color-stop(2px, #555555), color-stop(2px, #555555), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(top, #484848 1px, #555555 1px, #555555 2px, #555555 2px, #2f2f2f 100%);
  background-image: -moz-linear-gradient(top, #484848 1px, #555555 1px, #555555 2px, #555555 2px, #2f2f2f 100%);
  background-image: -o-linear-gradient(top, #484848 1px, #555555 1px, #555555 2px, #555555 2px, #2f2f2f 100%);
  background-image: linear-gradient(top, #484848 1px, #555555 1px, #555555 2px, #555555 2px, #2f2f2f 100%);
}
.top-bar .button:active, .top-bar .button.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, #2f2f2f));
  background-image: -webkit-linear-gradient(top, #222222 0%, #2f2f2f 100%);
  background-image: -moz-linear-gradient(top, #222222 0%, #2f2f2f 100%);
  background-image: -o-linear-gradient(top, #222222 0%, #2f2f2f 100%);
  background-image: linear-gradient(top, #222222 0%, #2f2f2f 100%);
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.15);
}

.fixed-top-bar {
  padding-top: 50px;
}
.fixed-top-bar .top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5000;
}

@media screen and (max-width: 767px) {
  #nav-collapse {
    display: none;
    position: absolute;
    top: 60px;
    right: 15px;
    min-width: 10em;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  }

  #nav-auth {
    display: none;
  }

  #nav-site {
    float: none;
  }

  .top-bar .top-bar-links {
    padding: 7px 0;
  }
  .top-bar .top-bar-links > li {
    float: none;
  }
  .top-bar .top-bar-links > li > a {
    height: 30px;
    padding: 8px 14px;
    color: #444444;
  }
  .top-bar .top-bar-links > li > a:hover {
    background: #006699;
    color: #fff;
  }
  .top-bar .top-bar-links > li.active > a {
    background: #006699;
    color: #fff;
  }
  .top-bar .top-bar-links > li.active > a:after {
    display: none;
  }
  .top-bar .top-bar-links > li:first-child > a {
    border-top-color: transparent;
  }
  .top-bar .top-bar-links > li.has-dropdown > a .caret {
    display: none;
  }

  .open #nav-collapse {
    display: block;
  }
}
.tabs {
  margin-left: 0;
  zoom: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.tabs:before, .tabs:after {
  content: "";
  display: table;
}
.tabs:after {
  clear: both;
}
.tabs > li {
  display: block;
  float: left;
  margin: 0 5px -1px 0;
  list-style-type: none;
}
.tabs > li:first-child {
  margin-left: 10px;
}
.tabs > li > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0px, #fafafa), color-stop(100%, #f2f2f2));
  background-image: -webkit-linear-gradient(top, #fafafa 0px, #f2f2f2 100%);
  background-image: -moz-linear-gradient(top, #fafafa 0px, #f2f2f2 100%);
  background-image: -o-linear-gradient(top, #fafafa 0px, #f2f2f2 100%);
  background-image: linear-gradient(top, #fafafa 0px, #f2f2f2 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 12px;
  color: #444444;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.tabs > li:not(.active):hover > a {
  background: #f2f2f2;
}
.tabs > li.active > a {
  background: none;
  border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) #fafafa rgba(0, 0, 0, 0.2);
  color: #999999;
}
.tabs > li.active > a:hover {
  text-decoration: none;
}

.has-dropdown {
  position: relative;
}
.has-dropdown > a {
  position: relative;
}
.has-dropdown.open > a {
  background: white !important;
  color: #444444 !important;
}
.has-dropdown.open > a:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background: white;
  bottom: -4px;
  left: 0px;
  z-index: 2;
}
.has-dropdown .dropdown {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  position: absolute;
  left: -1px;
  top: 100%;
  min-width: 160px;
  margin: 0;
  padding: 9px 0;
  background: white;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 1;
  z-index: 1;
}
.has-dropdown .dropdown.right {
  float: none;
  left: auto;
  right: -1px;
}
.has-dropdown .dropdown > li {
  display: block;
  margin: 0;
  padding: 0;
}
.has-dropdown .dropdown > li > a {
  position: relative;
  display: block;
  padding: 5px 14px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}
.has-dropdown .dropdown > li > a:hover {
  background-color: #006699;
  color: #fff;
}
.has-dropdown .dropdown .divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin: 9px 0;
}
.has-dropdown .dropdown .section-title {
  padding: 5px 14px;
  color: #999999;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: default;
}
.has-dropdown.open .dropdown {
  visibility: visible;
}

.modal-active {
  max-height: 100%;
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
}

.modal {
  position: fixed;
  z-index: 10000;
  outline: none;
  left: 50%;
  width: 400px;
  margin: 0 0 0 -200px;
}
.modal.fade {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  top: -25%;
}
.modal.fade.in {
  top: 35%;
}
.modal .modal-inner {
  width: 400px;
  background: #fafafa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}
.modal .modal-section {
  position: relative;
  padding: 14px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal .modal-section:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding-top: 20px;
}
.modal .modal-section:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  padding-bottom: 20px;
  border-bottom: none;
}
.modal .modal-section > *:last-child {
  margin-bottom: 0;
}
.modal .modal-section .or-divider {
  position: absolute;
  top: -10.5px;
  left: 50%;
  width: 2.5em;
  margin-left: -1.25em;
  background: #fafafa;
  color: #999999;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.modal .modal-footer {
  background-color: #ededed;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    overflow-y: auto;
  }
  .modal.fade.in {
    top: 0;
  }
  .modal .modal-inner {
    width: auto;
    max-width: 400px;
    margin: 0 auto 20px auto;
  }
}
.close {
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
