<!DOCTYPE html>
<html lang="en" class="initial">
  <head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'header.njk' %}
    <main tabindex="-1" class="with-sidebar box">
      {% include 'sidebar.njk' %}
      <article id="article" class="not-sidebar stack">
        <div class="carbon_ads_mdx_wrapper"></div>
        {% block title %}
        <h1>{{ title }}</h1>
        {% endblock %}
          <script>
            const carbonWrapper = document.querySelector('.carbon_ads_mdx_wrapper');
            const script = document.createElement('script');
            script.src = '//cdn.carbonads.com/carbon.js?serve=CEBI62JN&placement=cssnanoco';
            script.async = true;
            script.id = '_carbonads_js';
            carbonWrapper.appendChild(script);
          </script>
          {% block inner %}
		      {{ content | safe }}
          {% endblock %}
          <p class="annotation">Last updated on {{ page.date.toUTCString() }}</p>
        </article>
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
