<!DOCTYPE html>
<html lang="en" class="initial">
  <head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'header.njk' %}
    <main tabindex="-1" class="with-sidebar box">
      {% include 'sidebar.njk' %}
      <article id="article" class="not-sidebar stack">
        {% block title %}
        <h1>{{ title }}</h1>
        {% endblock %}
          {% block inner %}
		      {{ content | safe }}
          {% endblock %}
          <p class="annotation">Last updated on {{ page.date.toUTCString() }}</p>
        </article>
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
