<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
    <title>{{ title }}</title>
  </head>

  <body>
    {% include 'header.njk' %}
    <main tabindex="-1" class="center">
      <article id="article" class="stack box">
        <h1>{{ title }}</h1>
        {% block inner %}
		    {{ content | safe }}
        {% endblock %}
      </article>
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
