.about {
    background: #40b97b;
    color: #ecf8f2;
    padding: 5rem 0;
    font-weight: bold;
    text-align: center;
    & p {
        font-size: 2rem;
        margin-top: 0;
    }

    & p:first-child {
        color: #fff;
        font-size: 4rem;
        line-height: 1;
        margin: 2rem 0;
    }
}

.table {
    border-collapse: collapse;
    width: 100%;
    & tr {
        border-bottom: 1px solid #f1f1f1;
    }
    & td {
        padding: 5px 0;
        width: 50%;
        &:first-child {
            font-weight: bold;
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: inside url('/assets/nanoBullet.svg');
    & li {
        flex: 1 0 50%;
        min-width: 400px;
        line-height: 2;
    }
    & a {
        text-decoration: none;
        font-weight: bold;
    }
}

.postcss {
    display: flex;
    & p {
        flex: 1 0;
        margin-right: 20px;
    }
    & div {
        flex: 0 0 80px;
    }
}

.users {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    & a {
        flex: 1 1 30%;
        display: block;
        text-align: center;
        padding: 10px;
    }
}

.addCompany {
    font-size: 0.8em;
    border-top: 1px solid #f1f1f1;
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
}
