html{margin:0;padding:0;border:0}
a,abbr,acronym,address,article,aside,blockquote,body,caption,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,img,label,legend,li,nav,object,ol,p,pre,q,section,span,table,tbody,td,tfoot,th,thead,tr,ul{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1.5;background:#fff}
table{border-collapse:separate;border-spacing:0}
caption,td,th{text-align:left;font-weight:400;float:none!important}
table,td,th{vertical-align:middle}
blockquote:after,blockquote:before,q:after,q:before{content:''}
blockquote,q{quotes:"" ""}
a img{border:none}
:focus{outline:0}
html{font-size:100.01%}
body{font-size:75%;color:#222;background:#fff;font-family:Helvetica Neue,Arial,Helvetica,sans-serif}
h1,h2,h3,h4,h5,h6{font-weight:400;color:#111}
h1{font-size:3em;line-height:1;margin-bottom:.5em}
h2{font-size:2em;margin-bottom:.75em}
h3{font-size:1.5em;line-height:1;margin-bottom:1em}
h4{font-size:1.2em;line-height:1.25;margin-bottom:1.25em}
h5{margin-bottom:1.5em}
h5,h6{font-size:1em;font-weight:700}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0}
p{margin:0 0 1.5em}
.left{float:left!important}
p .left{margin:1.5em 1.5em 1.5em 0;padding:0}
.right{float:right!important}
p .right{margin:1.5em 0 1.5em 1.5em;padding:0}
a:focus,a:hover{color:#09f}
a{color:#06c;text-decoration:underline}
blockquote{margin:1.5em;color:#666;font-style:italic}
dfn,strong{font-weight:700}
dfn,em{font-style:italic}
sub,sup{line-height:0}
abbr,acronym{border-bottom:1px dotted #666}
address{margin:0 0 1.5em;font-style:italic}
del{color:#666}
pre{margin:1.5em 0;white-space:pre}
code,pre,tt{font:1em 'andale mono',lucida console,monospace;line-height:1.5}
li ol,li ul{margin:0}
ol,ul{margin:0 1.5em 1.5em 0;padding-left:1.5em}
ul{list-style-type:disc}
ol{list-style-type:decimal}
dl{margin:0 0 1.5em}
dl dt{font-weight:700}
dd{margin-left:1.5em}
table{margin-bottom:1.4em;width:100%}
th{font-weight:700}
thead th{background:#c3d9ff}
caption,td,th{padding:4px 10px 4px 5px}
tbody tr.even td,tbody tr:nth-child(even) td{background:#e5ecf9}
tfoot{font-style:italic}
caption{background:#eee}
.small{font-size:.8em;margin-bottom:1.875em;line-height:1.875em}
.large{font-size:1.2em;line-height:2.5em;margin-bottom:1.25em}
.hide{display:none}
.quiet{color:#666}
.loud{color:#000}
.highlight{background:#ff0}
.added{background:#060;color:#fff}
.removed{background:#900;color:#fff}
.first{margin-left:0;padding-left:0}
.last{margin-right:0;padding-right:0}
.top{margin-top:0;padding-top:0}
.bottom{margin-bottom:0;padding-bottom:0}
label{font-weight:700}
fieldset{padding:0 1.4em 1.4em;margin:0 0 1.5em;border:1px solid #ccc}
legend{font-weight:700;font-size:1.2em;margin-top:-.2em;margin-bottom:1em}
#IE8#HACK,fieldset{padding-top:1.4em}
#IE8#HACK,legend{margin-top:0;margin-bottom:0}
input.text,input.title,input[type=email],input[type=password],input[type=text],input[type=url],textarea{background-color:#fff;border:1px solid #bbb;color:#000}
input.text:focus,input.title:focus,input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,input[type=url]:focus,textarea:focus{border-color:#666}
select{background-color:#fff;border-width:1px;border-style:solid}
input.text,input.title,input[type=email],input[type=password],input[type=text],input[type=url],select,textarea{margin:.5em 0}
input.text,input.title{width:300px;padding:5px}
input.title{font-size:1.5em}
textarea{width:390px;height:250px;padding:5px}
form.inline{line-height:3}
form.inline p{margin-bottom:0}
.alert,.error,.info,.notice,.success{padding:.8em;margin-bottom:1em;border:2px solid #ddd}
.alert,.error{background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4}
.notice{background:#fff6bf;color:#514721;border-color:#ffd324}
.success{background:#e6efc2;color:#264409;border-color:#c6d880}
.info{background:#d5edf8;color:#205791;border-color:#92cae4}
.alert a,.error a{color:#8a1f11}
.notice a{color:#514721}
.success a{color:#264409}
.info a{color:#205791}
.container{width:950px;margin:0 auto}
.showgrid{background:url(src/grid.png)}
.column,.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24{float:left;margin-right:10px}
.last{margin-right:0}
.span-1{width:30px}
.span-2{width:70px}
.span-3{width:110px}
.span-4{width:150px}
.span-5{width:190px}
.span-6{width:230px}
.span-7{width:270px}
.span-8{width:310px}
.span-9{width:350px}
.span-10{width:390px}
.span-11{width:430px}
.span-12{width:470px}
.span-13{width:510px}
.span-14{width:550px}
.span-15{width:590px}
.span-16{width:630px}
.span-17{width:670px}
.span-18{width:710px}
.span-19{width:750px}
.span-20{width:790px}
.span-21{width:830px}
.span-22{width:870px}
.span-23{width:910px}
.span-24{width:950px;margin-right:0}
input.span-1,input.span-2,input.span-3,input.span-4,input.span-5,input.span-6,input.span-7,input.span-8,input.span-9,input.span-10,input.span-11,input.span-12,input.span-13,input.span-14,input.span-15,input.span-16,input.span-17,input.span-18,input.span-19,input.span-20,input.span-21,input.span-22,input.span-23,input.span-24,textarea.span-1,textarea.span-2,textarea.span-3,textarea.span-4,textarea.span-5,textarea.span-6,textarea.span-7,textarea.span-8,textarea.span-9,textarea.span-10,textarea.span-11,textarea.span-12,textarea.span-13,textarea.span-14,textarea.span-15,textarea.span-16,textarea.span-17,textarea.span-18,textarea.span-19,textarea.span-20,textarea.span-21,textarea.span-22,textarea.span-23,textarea.span-24{border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px}
input.span-1,textarea.span-1{width:18px}
input.span-2,textarea.span-2{width:58px}
input.span-3,textarea.span-3{width:98px}
input.span-4,textarea.span-4{width:138px}
input.span-5,textarea.span-5{width:178px}
input.span-6,textarea.span-6{width:218px}
input.span-7,textarea.span-7{width:258px}
input.span-8,textarea.span-8{width:298px}
input.span-9,textarea.span-9{width:338px}
input.span-10,textarea.span-10{width:378px}
input.span-11,textarea.span-11{width:418px}
input.span-12,textarea.span-12{width:458px}
input.span-13,textarea.span-13{width:498px}
input.span-14,textarea.span-14{width:538px}
input.span-15,textarea.span-15{width:578px}
input.span-16,textarea.span-16{width:618px}
input.span-17,textarea.span-17{width:658px}
input.span-18,textarea.span-18{width:698px}
input.span-19,textarea.span-19{width:738px}
input.span-20,textarea.span-20{width:778px}
input.span-21,textarea.span-21{width:818px}
input.span-22,textarea.span-22{width:858px}
input.span-23,textarea.span-23{width:898px}
input.span-24,textarea.span-24{width:938px}
.append-1{padding-right:40px}
.append-2{padding-right:5pc}
.append-3{padding-right:90pt}
.append-4{padding-right:10pc}
.append-5{padding-right:200px}
.append-6{padding-right:15pc}
.append-7{padding-right:280px}
.append-8{padding-right:20pc}
.append-9{padding-right:360px}
.append-10{padding-right:25pc}
.append-11{padding-right:440px}
.append-12{padding-right:5in}
.append-13{padding-right:520px}
.append-14{padding-right:35pc}
.append-15{padding-right:600px}
.append-16{padding-right:40pc}
.append-17{padding-right:680px}
.append-18{padding-right:45pc}
.append-19{padding-right:760px}
.append-20{padding-right:50pc}
.append-21{padding-right:840px}
.append-22{padding-right:55pc}
.append-23{padding-right:920px}
.prepend-1{padding-left:40px}
.prepend-2{padding-left:5pc}
.prepend-3{padding-left:90pt}
.prepend-4{padding-left:10pc}
.prepend-5{padding-left:200px}
.prepend-6{padding-left:15pc}
.prepend-7{padding-left:280px}
.prepend-8{padding-left:20pc}
.prepend-9{padding-left:360px}
.prepend-10{padding-left:25pc}
.prepend-11{padding-left:440px}
.prepend-12{padding-left:5in}
.prepend-13{padding-left:520px}
.prepend-14{padding-left:35pc}
.prepend-15{padding-left:600px}
.prepend-16{padding-left:40pc}
.prepend-17{padding-left:680px}
.prepend-18{padding-left:45pc}
.prepend-19{padding-left:760px}
.prepend-20{padding-left:50pc}
.prepend-21{padding-left:840px}
.prepend-22{padding-left:55pc}
.prepend-23{padding-left:920px}
.border{padding-right:4px;margin-right:5px}
.border,.colborder{border-right:1px solid #ddd}
.colborder{padding-right:24px;margin-right:25px}
.pull-1{margin-left:-40px}
.pull-2{margin-left:-5pc}
.pull-3{margin-left:-90pt}
.pull-4{margin-left:-10pc}
.pull-5{margin-left:-200px}
.pull-6{margin-left:-15pc}
.pull-7{margin-left:-280px}
.pull-8{margin-left:-20pc}
.pull-9{margin-left:-360px}
.pull-10{margin-left:-25pc}
.pull-11{margin-left:-440px}
.pull-12{margin-left:-5in}
.pull-13{margin-left:-520px}
.pull-14{margin-left:-35pc}
.pull-15{margin-left:-600px}
.pull-16{margin-left:-40pc}
.pull-17{margin-left:-680px}
.pull-18{margin-left:-45pc}
.pull-19{margin-left:-760px}
.pull-20{margin-left:-50pc}
.pull-21{margin-left:-840px}
.pull-22{margin-left:-55pc}
.pull-23{margin-left:-920px}
.pull-24{margin-left:-60pc}
.pull-1,.pull-2,.pull-3,.pull-4,.pull-5,.pull-6,.pull-7,.pull-8,.pull-9,.pull-10,.pull-11,.pull-12,.pull-13,.pull-14,.pull-15,.pull-16,.pull-17,.pull-18,.pull-19,.pull-20,.pull-21,.pull-22,.pull-23,.pull-24{float:left;position:relative}
.push-1{margin:0 -40px 1.5em 40px}
.push-2{margin:0 -5pc 1.5em 5pc}
.push-3{margin:0 -90pt 1.5em 90pt}
.push-4{margin:0 -10pc 1.5em 10pc}
.push-5{margin:0 -200px 1.5em 200px}
.push-6{margin:0 -15pc 1.5em 15pc}
.push-7{margin:0 -280px 1.5em 280px}
.push-8{margin:0 -20pc 1.5em 20pc}
.push-9{margin:0 -360px 1.5em 360px}
.push-10{margin:0 -25pc 1.5em 25pc}
.push-11{margin:0 -440px 1.5em 440px}
.push-12{margin:0 -5in 1.5em 5in}
.push-13{margin:0 -520px 1.5em 520px}
.push-14{margin:0 -35pc 1.5em 35pc}
.push-15{margin:0 -600px 1.5em 600px}
.push-16{margin:0 -40pc 1.5em 40pc}
.push-17{margin:0 -680px 1.5em 680px}
.push-18{margin:0 -45pc 1.5em 45pc}
.push-19{margin:0 -760px 1.5em 760px}
.push-20{margin:0 -50pc 1.5em 50pc}
.push-21{margin:0 -840px 1.5em 840px}
.push-22{margin:0 -55pc 1.5em 55pc}
.push-23{margin:0 -920px 1.5em 920px}
.push-24{margin:0 -60pc 1.5em 60pc}
.push-1,.push-2,.push-3,.push-4,.push-5,.push-6,.push-7,.push-8,.push-9,.push-10,.push-11,.push-12,.push-13,.push-14,.push-15,.push-16,.push-17,.push-18,.push-19,.push-20,.push-21,.push-22,.push-23,.push-24{float:left;position:relative}
.prepend-top,div.prepend-top{margin-top:1.5em}
.append-bottom,.box,div.append-bottom{margin-bottom:1.5em}
.box{padding:1.5em;background:#e5ecf9}
hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none}
hr.space{background:#fff;color:#fff;visibility:hidden}
.clearfix:after,.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
.clearfix,.container{display:block}
.clear{clear:both}