.example pre {
    font-size: 0.8rem;
}

.example > div:before {
    font-variant: small-caps;
    color: #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    display: block;
}

.example > div:nth-child(1):before {
    content: 'before';
}

.example > div:nth-child(2):before {
    content: 'after';
}

@media screen and (min-width: 600px) {
    .example {
        display: flex;
    }

    .example > div {
        width: 50%;
    }

    .example > div:not(:first-child) {
        width: 50%;
        padding-left: 20px;
    }
}
