/* Using global sytles is not recommended, prefer local styles via CSS Modules */

/*
 * box model like it should be
 *
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html { box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*
 * kill document defaults margin & padding. We all do that all the time, right ?
 */
html,
body {
  margin: 0;
  padding: 0;
}

/*
 * page styles
 */
html {
  min-height: 100%;
  background: rgb(251, 254, 252);
}

body {
  color: #555;
  font-size: 1rem;
  line-height: 1.5rem;

  /* system font https://medium.com/designing-medium/system-shock-6b1dc6d6596f */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/*
 * .phenomic-HeadingAnchor
 *
 * anchors for markdown headings, generated via markdown renderer, so require
 * global styling
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: 400;
  color: #40b97b;
}

.phenomic-HeadingAnchor {
  display: inline-block;
  text-align: center;
  margin-left: -1.8rem;
  margin-right: 0.4rem;
  width: 1.4rem;
  line-height: 1.4rem;
  text-decoration: none;
  opacity: 0.1;
  transition: opacity 0.2s
}

h1:hover .phenomic-HeadingAnchor,
h2:hover .phenomic-HeadingAnchor,
h3:hover .phenomic-HeadingAnchor,
h4:hover .phenomic-HeadingAnchor,
h5:hover .phenomic-HeadingAnchor,
h6:hover .phenomic-HeadingAnchor { opacity: 1; border-bottom: 1px solid #ba5240; }

/* minimal styling, prefer removing this and use local styles */
a {
  color: #ba5240;
}

hr {
  border: 0;
  height: 1px;
  background: #8C8D91;
  opacity: 0.2;
  margin: 2rem 0;
}

:target {
    padding-bottom: 10px;
    border-bottom: 3px solid #40b97b;
    color: #40b97b;
}

:target:before {
    display: block;
    content: " ";
    /* This is to account for the sticky header */
    margin-top: -80px;
    height: 80px;
    visibility: hidden;
}

:target a {
    color: #40b97b;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ba5240
}

table tr { background: #fff; border-bottom: 1px solid #ba5240; }

table td, table th { padding: 10px; font-weight: 400; text-align: left; }

table tbody tr:nth-child(odd) { background: rgb(252, 248, 247); }

/*
 * Ensure that the underline for the contributors table
 * is not squashed in Firefox.
 */

sub {
    vertical-align: inherit;
}
pre {
    white-space: pre-wrap;
    word-break: break-all;
    background: #fff;
    color: #303030;
    border: 1px solid #40b97b;
    padding: 10px;
}

code {
    font-family: Menlo, Monaco, Consolas, monospace;
}

/* CSS highlighting */

.midas__tag {
    text-decoration: underline;
}

.midas__comment {
    color: #bbb;
}

.midas__at-rule-keyword,
.midas__important,
.midas__tag,
.midas__attribute-name,
.midas__class,
.midas__pseudo {
    color: #ed3e35;
}

.midas__id,
.midas__at-rule-name,
.midas__function-name {
    color: #673ab7;
}

.midas__brace,
.midas__colon,
.midas__semicolon,
.midas__parenthesis,
.midas__string,
.midas__hex-color,
.midas__attribute-value,
.midas__attribute-brace,
.midas__attribute-operator {
    color: #40b97b;
}

.midas__property {
    color: #0062bd;
    font-style: italic;
}

.midas__vendor-prefix {
    color: #57aeff;
}

.midas__number,
.midas__word {
    color: #fa9600;
}

/* Other */

/* Pop Comment */
.hljs-comment,
.hljs-title {
    color: #505050;
}

/* Pop Red */
.hljs-deletion,
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
    color: #eb008a;
}

/* Pop Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
    color: #f29333;
}

/* Pop Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
    color: #f8ca12;
}

/* Pop Green */
.hljs-addition,
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
    color: #37b349;
}

/* Pop Aqua */
.css .hljs-hexcolor {
    color: #0ab;
}

/* Pop Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
    color: #0e5a94;
}

/* Pop Purple */
.hljs-keyword,
.javascript .hljs-function {
    color: #b31e8d;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
    opacity: 0.5;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
._2Mf6m {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
._2gGRo {
    border-bottom: 1px solid #40b97b;
    background: #fff;
}

._2frUm {
    max-width: 61rem;
    margin: 0 auto;
    line-height: 2rem;
    overflow: hidden
}

._2frUm a {
    position: relative;
    display: block;
    transition: color 0.1s ease;
}

._2frUm a:hover {
    color: #40b97b;
}

.Ezg15 {
    padding: 0.8rem 0.5rem;
    color: inherit;
    text-decoration: none;
    font-size: 0.9rem;
}

.Ezg15 svg {
    vertical-align: middle;
    height: 25px;
}

.ENT8c {
    margin-right: 20px;
}

@media screen and (min-width: 600px) {
    ._37D8R,
    ._3VLYQ {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
    }

    .Ezg15 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
    }

    ._2frUm {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }

    ._2frUm a:after {
        content: '';
        display: block;
        width: 100%;
        bottom: 0;
        left: 0;
        height: 5px;
        position: absolute;
        background: #40b97b;
        transform: translateY(5px);
        transition: transform 0.1s ease;
    }

    ._2frUm a:hover:after {
        transform: translateY(0);
    }
}
._116Tm {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-direction: column;
      flex-direction: column;
}
._1Ustb {
    padding: 2rem 0;
    text-align: center;
}
._1KhX5 {
  display: -ms-flexbox;
  display: flex;
  height: 25vh;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

._3i5XI {
  height: 5vh;
  min-height: 5rem;
  width: 5vh;
  min-width: 5rem;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.8);
  border-radius: 100%;
  animation: _3H5Gy 0.6s infinite linear 0.25s;

  /* the opacity is used to lazyload the spinner, see animation delay */
  opacity: 0;
}

@keyframes _3H5Gy {
  from {
    opacity: 1;
    transform: rotate(0);
  }

  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}
.sFWsg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.hOK0m {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 60rem;
  padding: 1rem 0;
}

._3xDHr {
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px dashed #40b97b;
}

._30RKo {

  /* handy for content */
}

._30RKo a {
  color: #ba5240;
  transition: all 0.2s;
}

._30RKo a:hover {
  opacity: 1;
  color: rgb(167, 74, 57);
}

._30RKo img {
  max-width: 100%;
}
.lfRQE {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  list-style: none;
  padding: 0;
}
._29yz2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.LQgiL {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 60rem;
  padding: 1rem 0;
}

._3O43M {
    font-weight: 400;
    padding-bottom: 20px;
    border-bottom: 1px dashed #40b97b;
}

._1b5K_ {

  /* handy for content */
}

._1b5K_ a {
  color: #ba5240;
  transition: all 0.2s;
}

._1b5K_ a:hover {
  opacity: 1;
  color: rgb(167, 74, 57);
}

._1b5K_ img {
  max-width: 100%;
}
._1mmZb {
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;

  transition: .1s all ease;

  color: #ba5240;

  border: 1px solid #ba5240;
  background: #fff
}

._1mmZb:hover {
  color: #fff;
  border: 1px solid #40b97b;
  background: #40b97b
}

._1w6mX {
  color: #46BE77;
  border: 1px solid #46BE77
}

._1w6mX:hover {
  color: #22846C;
  border: 1px solid #22846C
}

.NTKcW {
    background: rgb(39, 114, 75);
    border-color: rgb(26, 76, 50);
    color: #fff
}

.NTKcW:hover {
  background: rgb(26, 76, 50);
  border-color: rgb(13, 38, 25)
}

._35BEo {
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 3rem;
}
.JASp6 {
    list-style: none;
    padding: 0;
}

._1Oqsj {
    display: block;
    padding: 5px 0;
    margin-bottom: 1em;
    border-bottom: 1px dashed transparent;
    transition: border-bottom .2s ease;
    color: inherit;
    text-decoration: none;
}

._1Oqsj:hover {
    border-bottom-color: #40b97b;
    text-decoration: none;
}

._4TWaU {
    border-bottom-color: #40b97b;
    border-bottom-style: solid;
}
._2wTjs {
    -ms-flex-direction: row;
        flex-direction: row;
}

.Ydrma {
    -ms-flex: 1 80%;
        flex: 1 80%;
    margin-right: 40px;
}

._3tIsZ {
    -ms-flex: 1 20%;
        flex: 1 20%;
}

._3kU-y {
    text-decoration: none;
}

._2zlWC {
    min-width: 300px;
}

._2zlWC p {
    line-height: 1;
    text-align: left;
}

._2zlWC p:first-child {
    text-transform: lowercase;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    font-size: .8rem;
    font-weight: bold
}

._2zlWC p:first-child:after {
    content: '\279D';
    text-transform: none;
    margin-left: 5px;
}
._1K0r3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}

._3SaiR {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    max-width: 60rem;
    padding: 1rem 0;
}
.BsUiv pre {
    font-size: 0.8rem;
}

.BsUiv > div:before {
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    color: #40b97b;
    font-weight: bold;
    display: block;
    line-height: 1;
}

.BsUiv > div:nth-child(1):before {
    content: 'before';
}

.BsUiv > div:nth-child(2):before {
    content: 'after';
}

@media screen and (min-width: 600px) {
    .BsUiv {
        margin-top: 2em;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }

    .BsUiv > div {
        width: 49%;
    }
}
._ZXDT {
    background: #40b97b;
    color: #ecf8f2;
    padding: 5rem 0;
    font-weight: bold;
    text-align: center
}
._ZXDT p {
    font-size: 1.5rem;
    margin-top: 0
}
._ZXDT p:first-child {
    color: #fff;
    font-size: 3rem;
    line-height: 1;
    margin: 2rem 0
}
.TUspK {
    border-collapse: collapse;
    width: 100%;
    border: none
}

.TUspK tbody tr {
    border: none;
    border-bottom: 1px solid rgb(179, 229, 203);
    background: rgb(251, 254, 252)
}

.TUspK tbody tr:nth-child(odd) {
    background: rgb(251, 254, 252)
}

.TUspK td {
    border: 0;
    padding: 5px 0;
    width: 50%
}

.TUspK td:first-child {
    font-weight: bold
}

._2U0ZW {
    margin: 20px 0;
}

._1ScLR {
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #adebc2;
    transition: 0.1s ease;
    transition-property: border;
    background: #fbfefc
}

._1ScLR:hover {
    border-color: #40b97b
}

._1ScLR a {
    -ms-flex: 1;
        flex: 1;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    color: #303030;
    font-family: Menlo, Monaco, Consolas, monospace;
    transition: 0.1s ease;
    transition-property: border-right, background;
    border-right: 1px solid #fbfefc
}

._1ScLR a:hover {
    background: #d6f5e0;
    border-right: 1px solid #40b97b
}

._1ScLR button {
    border: none;
    border-left: 1px solid #fbfefc;
    -ms-flex: 0 100px;
        flex: 0 100px;
    cursor: pointer;
    background: #fbfefc;
    padding: 10px;
    font-size: 1em;
    font-feature-settings: "c2sc";
    font-variant: small-caps;
    transition: 0.1s ease;
    transition-property: border-left, background
}

._1ScLR button svg {
    vertical-align: middle
}

._1ScLR button:hover {
    background: #d6f5e0;
    border-left: 1px solid #40b97b
}

._2upZk {
    background: #fff;
    border: 1px solid #40b97b;
    border-left: none;
    border-right: none;
    margin: 40px 0;
}

._3tABi {
    display: -ms-flexbox;
    display: flex
}

._3tABi p {
    -ms-flex: 1 0;
        flex: 1 0;
    margin-right: 20px
}

._3tABi div {
    -ms-flex: 0 0 80px;
        flex: 0 0 80px
}
.mjTAv {
    background: #fff;
    border: 1px solid #ba5240;
    border-left: none;
    border-right: none;
    margin: 40px 0;
}

.mjTAv h2 {
    color: #ba5240;
}
