.install {
    display: flex;
    border: 1px solid #adebc2;
    transition: 0.1s ease;
    transition-property: border;
    background: #fbfefc;

    &:hover {
        border-color: #40b97b;
    }
}

.install a {
    flex: 1;
    font-size: 1em;
    text-decoration: none;
    padding: 10px;
    color: #303030;
    font-family: Menlo, Monaco, Consolas, monospace;
    transition: 0.1s ease;
    transition-property: border-right, background;
    border-right: 1px solid #fbfefc;

    &:before {
        content: '$ ';
    }

    &:hover {
        background: #d6f5e0;
        border-right: 1px solid #40b97b;
    }
}

.install button {
    border: none;
    border-left: 1px solid #fbfefc;
    flex: 0 100px;
    cursor: pointer;
    background: #fbfefc;
    padding: 10px;
    font-size: 1em;
    font-variant: small-caps;
    transition: 0.1s ease;
    transition-property: border-left, background;

    & svg {
        vertical-align: middle;
    }

    &:hover {
        background: #d6f5e0;
        border-left: 1px solid #40b97b;
    }
}
