:local(.container) {
    flex-direction: row;
}

:local(.article) {
    flex: 1 80%;
    margin-right: 40px;
}

:local(.sidebar) {
    flex: 1 20%;
}

:local(.button) {
    text-decoration: none;
}

:local(.next) {
    min-width: 300px;
}

:local(.next) p {
    line-height: 1;
    text-align: left;
}

:local(.next) p:first-child {
    text-transform: lowercase;
    font-variant: small-caps;
    font-size: .8rem;
    font-weight: bold;

    &:after {
        content: '➝';
        text-transform: none;
        margin-left: 5px;
    }
}

:local(.guides) {
    list-style: none;
    padding: 0;
}

:local(.link) {
    display: block;
    padding: 5px 0;
    margin-bottom: 1em;
    border-bottom: 1px dashed transparent;
    transition: border-bottom .2s ease;
    color: inherit;
    text-decoration: none;
}

:local(.link):hover {
    border-bottom-color: var(--brandColor);
    text-decoration: none;
}

:local(.active) {
    border-bottom-color: var(--brandColor);
    border-bottom-style: solid;
}
