<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.njk' %}
    <title>CSSNANO Playground</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
    <div class="playground-toolbar box">
      <div class="preset-picker">
        <label for="presetSelector">
          Choose a preset
        </label>
        <select id="presetSelector" class="select">
          <option value="cssnano-preset-default">Preset Default</option>
          <option value="cssnano-preset-lite">Preset Lite</option>
          <option value="cssnano-preset-advanced">Preset Advanced</option>
        </select>
      </div>
      <button id="runButton" class="button" disabled>
        Minimize
      </button>
    </div>
    <div id="editors" class="editors box">
      <div class="editor">
        <label class="editor-label" for="input">Write or paste your CSS below</label>
        <textarea
          id="input"
          class="editor-textarea"
          spellcheck="false"
        ></textarea>
      </div>
      <div class="editor">
        <label class="editor-label" for="output">Optimised output appears here</label>
        <textarea
          id="output"
          class="editor-textarea"
          aria-live="polite"
          readonly
          spellcheck="false"
        ></textarea>
      </div>
    </div>
    <script type="module" src="/js/runtime.bundle.js"></script>
    <script type="module" src="/js/playground.bundle.js"></script>
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
