paper-card {
    --paper-card-header: {
        height: 128px;
        padding: 0 48px;
        background: var(--primary-color);

        @apply(--layout-vertical);
        @apply(--layout-end-justified);
    };
    --paper-card-header-color: #FFF;
    --paper-card-content: {
        padding: 64px;
    };
    --paper-card-actions: {
        @apply(--layout-horizontal);
        @apply(--layout-end-justified);
    };
    width: 384px;
}
