.avatar {
  -webkit-animation: 1s fade-in linear;
  animation: 1s fade-in linear;
}
@media (max-width: 500px) {
  .icon {
    -webkit-animation: 1s fade-in linear;
    animation: 1s fade-in linear;
  }
  .title {
    -webkit-animation: 1s fade-in linear;
    animation: 1s fade-in linear;
  }
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @supports (display: flex) {
    .image {
      -webkit-animation: 1s fade-in linear;
      animation: 1s fade-in linear;
    }
    @-webkit-keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
.comment {
  -webkit-animation: 1s fade-in linear;
  animation: 1s fade-in linear;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
