.playgroundInnerNav {
  height: 3em;
  padding: 0 5px;
}

.headbtn {
  border-radius: 4px;
  margin: 4px;
  padding: 0px 8px;
  min-height: 30px;
  line-height: 30px;
  font-size: 13px;
  background-color: #1045a3;
}

.editorCol {
  padding: 0 !important;
}

.panelLoaderPlaceholder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background: black;
  z-index: 99;
  opacity: 70%;
  display: none;
}

.panelLoaderHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
}
