<footer class="box stack bg-dark">
  <div class="cluster justify-center">
    <div class="stack">
      <h2 class="f4">Docs</h2>
      <ul class="stack">
        <li>
          <a href="/docs/introduction/">Guide</a></li>
        <li><a href="/docs/what-are-optimisations/">Optimizations</a></li>
        <li><a href="/playground/">Playground</a></li>
        <li><a href="/docs/support-us/">Support</a></li>
      </ul>
    </div>
    <div class="stack">
      <h2 class="f4">Community</h2>
      <ul class="stack">
        <li><a href="https://stackoverflow.com/questions/tagged/cssnano" target="_blank" rel="noopener noreferrer">Stack Overflow <svg class="icon" width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a href="https://gitter.im/postcss/postcss" target="_blank" rel="noopener noreferrer">Gitter <svg class="icon" width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a href="https://opencollective.com/cssnano" target="_blank" rel="noopener noreferrer">Donate <svg class="icon" width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
    <div class="stack">
      <h2 class="f4">Social</h2>
      <ul class="stack">
        <li><a href="/blog/">Blog</a></li>
        <li><a href="https://github.com/cssnano/cssnano" target="_blank" rel="noopener noreferrer">GitHub <svg width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
        <li><a href="https://twitter.com/cssnano_" target="_blank" rel="noopener noreferrer">Twitter <svg width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a></li>
      </ul>
    </div>
  </div>
  <p class="text-center">Latest release {{ cssnano_version }} · Distributed under the MIT License.</p>
</footer>
