    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="alternate icon" type="image/x-icon" href="/img/favicon.ico" />

    <link rel="sitemap" href="/sitemap.xml"/>
    
    <link rel="stylesheet" href="/styles/index.css" />

    <link rel="canonical" href="{{site_url}}{{ page.url }}" />

<!-- OpenGraph Tags -->
    <meta property="og:title" content={{title}}/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ page.url }}"/>
    <meta property="og:locale" content="en"/>
    <meta name="description" property="og:description" content="CSSNANO - postcss based css optimizer"/>
    <meta property="og:site_name" content="CSSNANO documentation"/>

