<div class="navbar box">
  <a href="#article" class="sr-only skiplink"><span>Skip to Content</span></a>
  <nav class="cluster" title="Top Navigation">
    <a href="/"> 
      <h1 class="sr-only">CSSNANO</h1>
      <img src="/img/logo-alt.svg" alt="" width="160" height="32"/>
    </a>
    <span class="cluster">
    <a href="/docs/introduction/">Guide</a>
    <a href="/docs/what-are-optimisations/">Optimizations</a>
    <a href="/playground/">Playground</a>
    <a href="/docs/support-us/">Support</a>
    <a href="/blog/">Blog</a>
    <a href="https://github.com/cssnano/cssnano" rel="noopener noreferrer" target="_blank">GitHub <svg class="icon" width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a>
    <a href="https://opencollective.com/cssnano" rel="noopener noreferrer" target="_blank">Donate <svg class="icon" width="0.75em" height="0.75em" aria-hidden="true" viewBox="0 0 24 24"><path fill="currentColor" d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"></path></svg></a>
    </span>
  </nav>
</div>
