<aside id="grid-left" title="Documentation table of contents" class="sidebar">
  <nav aria-labelledby="grid-left">
    <ul class="stack">
      <li>
        <h2 class="f4">Getting Started</h2>
        <ul>
          <li class="nav-link"><a href="/docs/introduction/" {% if page.url == "/docs/introduction/" %} aria-current="page"{% endif %}>Introduction</a></li>
          <li class="nav-link"><a href="/docs/getting-started/" {% if page.url == "/docs/getting-started/" %} aria-current="page"{% endif %}>Getting Started</a></li>
          <li class="nav-link"><a href="/docs/config-file/" {% if page.url == "/docs/config-file/" %} aria-current="page"{% endif %}>Configuration</a></li>
          <li class="nav-link"><a href="/docs/what-are-optimisations/" {% if page.url == "/docs/what-are-optimisations/" %} aria-current="page"{% endif %}>Optimisations</a></li>
          <li class="nav-link"><a href="/docs/advanced-transforms/" {% if page.url == "/docs/advanced-transforms/" %} aria-current="page"{% endif %}>Advanced Transforms</a></li>
        </ul>
      </li>
      <li>
        <h2 class="f4">Developer Guide</h2>
        <ul>
          <li class="nav-link"><a href="/docs/contributing" {% if page.url == "/docs/contributing/" %} aria-current="page"{% endif %}>Contributing</a></li>
          <li class="nav-link"><a href="/docs/changelog" {% if page.url == "/docs/changelog/" %} aria-current="page"{% endif %}>Changelog</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</aside>
