/* stylelint-disable docusaurus/copyright-header */
/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.getStartedBtn {
  background-color: white;
  color: #191c3c;
}

.getStartedBtn:hover {
  color: white;
  background-color: #191c3c;
}

.playgroundInnerNav {
  height: 3em;
  padding: 0 5px;
}

.headbtn {
  border-radius: 4px;
  margin: 4px;
  padding: 0px 8px;
  min-height: 30px;
  line-height: 30px;
  font-size: 13px;
}

.editorCol {
  padding: 0 !important;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.small_p {
}

.logoImg {
  max-width: 25em;
}

.h2 {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
}

.h1 {
  width: 100%;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
}

.flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex1 {
  flex: 1;
}

.centerSnippet {
  margin: auto;
  width: 70%;
  overflow: auto;
}

/* CARBON ADS CUSTOM STYLE */

.carbon_ads_custom {
  position: absolute;
  right: 10px;
  top: 0;
}
