/* Padding values are also run through the shorthand optimiser;
   this test just ensures that they are not mangled */

h1 {
    padding: 10px 20px 30px 40px;
}

h2 {
    padding: 10px 20px 30px;
}

h3 {
    padding: 10px 20px;
}

h4 {
    padding: 10px;
}
