name: test
permissions: {}

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.2
      - name: Install Node.js 16.x
        uses: actions/setup-node@v3.0.0
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run lint
        run: pnpm lint

  test_helpers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.0.0
      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.1
        with:
          version: 6.32.2
      - name: Install Node.js 16.x
        uses: actions/setup-node@v3.0.0
        with:
          node-version: '16'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Test helpers
        run: pnpm test:helpers

  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node-version: ['10', '12', '14', '16', '17']

    steps:
      - name: Setup Git
        if: matrix.os == 'windows-latest'
        run: git config --global core.autocrlf input

      - uses: actions/checkout@v2

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.1
        if: matrix.node-version != '10'
        with:
          version: 6.32.2

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        if: matrix.node-version != '10'
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Install old pnpm
        uses: pnpm/action-setup@v2.2.1
        if: matrix.node-version == '10'
        with:
          version: 5.18.4

      # No cache support on GH actions for old pnpm
      - name: Install Node.js without cache ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        if: matrix.node-version == '10'
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests with coverage
        run: pnpm test:coverage

      - name: Publish code coverage report
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == '16'
        uses: codecov/codecov-action@v2.1.0
        with:
          name: codecov
