.button {
  display: inline-flex;
  padding: 0 1rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;

  transition: .1s all ease;

  color: var(--brandColorComplement);

  border: 1px solid var(--brandColorComplement);
  background: #fff;

  &:hover {
    color: #fff;
    border: 1px solid var(--brandColor);
    background: var(--brandColor);
  }
}

.secondary {
  color: var(--colorSecondary);
  border: 1px solid var(--colorSecondary);

  &:hover {
    color: var(--colorSecondaryDark);
    border: 1px solid var(--colorSecondaryDark);
  }
}

.dark {
    background: color(var(--brandColor) l(30%));
    border-color: color(var(--brandColor) l(20%));
    color: #fff;

    &:hover {
        background: color(var(--brandColor) l(20%));
        border-color: color(var(--brandColor) l(10%));
    }
}

.big {
  font-size: 1.5rem;
  padding: 0 2rem;
  line-height: 3rem;
}
